<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ClienteWSPortBinding" />
                <binding name="SupervisorWSPortBinding" />
                <binding name="CreditoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CreditoMovilWSBL/ClienteWS"
                binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
                contract="WSCliente.ClienteWS" name="ClienteWSPort" />
            <endpoint address="http://localhost:8080/CreditoMovilWSBL/SupervisorWS"
                binding="basicHttpBinding" bindingConfiguration="SupervisorWSPortBinding"
                contract="WSSupervisor.SupervisorWS" name="SupervisorWSPort" />
            <endpoint address="http://localhost:8080/CreditoMovilWSBL/CreditoWS"
                binding="basicHttpBinding" bindingConfiguration="CreditoWSPortBinding"
                contract="WSCredito.CreditoWS" name="CreditoWSPort" />
        </client>
    </system.serviceModel>
</configuration>