/Proyectos/CreditoMovilController/nbproject/private/
/Proyectos/CreditoMovilControllerGetCredito/nbproject/private/
/Proyectos/CreditoMovilControllerGetCliente/nbproject/private/
/Proyectos/CreditoMovilControllerRRHH/nbproject/private/
/Proyectos/CreditoMovilDBManager/build/
/Proyectos/CreditoMovilDBManager/dist/
/Proyectos/CreditoMovil/dist/
/Proyectos/CreditoMovilControllerGetCliente/build/
/Proyectos/CreditoMovilControllerGetCliente/dist/
/Proyectos/CreditoMovilControllerGetCredito/build/
/Proyectos/CreditoMovilControllerGetCredito/dist/
/Proyectos/CreditoMovilControllerRRHH/build/
/Proyectos/CreditoMovilControllerRRHH/dist/
/Proyectos/CreditoMovilWSBL/dist/
