<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CreditoWSPortBinding" />
        <binding name="AdministradorWSPortBinding" />
        <binding name="TransaccionWSPortBinding" />
        <binding name="ClienteWSPortBinding" />
        <binding name="EvaluacionWSPortBinding" />
        <binding name="SupervisorWSPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/CreditoWS"
        binding="basicHttpBinding" bindingConfiguration="CreditoWSPortBinding"
        contract="CreditoMovil.CreditoWS" name="CreditoWSPort" />
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/AdministradorWS"
        binding="basicHttpBinding" bindingConfiguration="AdministradorWSPortBinding"
        contract="CreditoMovil.AdministradorWS" name="AdministradorWSPort" />
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/TransaccionWS"
        binding="basicHttpBinding" bindingConfiguration="TransaccionWSPortBinding"
        contract="CreditoMovil.TransaccionWS" name="TransaccionWSPort" />
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/ClienteWS"
        binding="basicHttpBinding" bindingConfiguration="ClienteWSPortBinding"
        contract="CreditoMovil.ClienteWS" name="ClienteWSPort" />
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/EvaluacionWS"
        binding="basicHttpBinding" bindingConfiguration="EvaluacionWSPortBinding"
        contract="CreditoMovil.EvaluacionWS" name="EvaluacionWSPort" />
      <endpoint address="http://localhost:8080/CreditoMovilWSBL/SupervisorWS"
        binding="basicHttpBinding" bindingConfiguration="SupervisorWSPortBinding"
        contract="CreditoMovil.SupervisorWS" name="SupervisorWSPort" />
    </client>
  </system.serviceModel>
</configuration>